<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Timeout</key>
    <integer>5</integer>
    <key>DefaultVolume</key>
    <string>PciRoot(0x0)\Pci(0x1D,0x4)\Pci(0x0,0x0)\NVMe(0x1,00-00-00-00-00-00-00-01)\HD(1,GPT,5F91A964-D190-4978-BAF5-A58245E079B7,0x28,0x64000)\EFI\CLOVER\CLOVERX64.efi</string>
    <key>debug</key>
    <string>false</string>
</dict>
